* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --largura: 220px;
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg: url("/assets/images/bg-yellow.svg");
}

body.blue {
  --card-title-border-color: #33baf3;
  --card-color-primary: #33baf3;
  --card-border-color: #33baf3;
  --card-bg-color: #202024;
  --bg: url("/assets/images/bg-blue.svg");
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary: #047c3f;
  --card-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url("/assets/images/bg-green.svg");
}

body.yellow {
  --card-title-border-color: #f7dd43;
  --card-color-primary: #f7dd43;
  --card-border-color: #746615;
  --card-bg-color: #1d1c19;
  --bg: url("/assets/images/bg-yellow.svg");
}

ul {
  list-style: none;
}

body {
  background-color: #121214;

  height: calc(100vh - 100px);
<<<<<<< HEAD
  background-position-y: -582px;
  background: var(--bg) repeat top center/cover;
=======

  background: var(--bg) no-repeat top center/cover;
  background-size: fit-content;
>>>>>>> 11ed2fc997d726725231e5267f73532a02d1569f
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

.card h4 {
  margin-bottom: 33px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.color-switcher {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  transition: right 0.3s ease-in;
}
.color-switcher.active {
  right: 10px;
  transition: right 0.3s ease-in-out;
}

.theme-buttons-container {
  display: flex;
  position: absolute;
  top: 50px;
  right: 10px;
  flex-direction: column;
}

.color-switcher .switcher-btn {
  position: absolute;
  top: 0;
  left: -75px;
  color: var(--card-color-primary);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 35px;
}

.color-switcher .theme-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-switcher .theme-buttons-container .theme-buttons {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.color-switcher .switcher-btn i {
  animation: rotate 2s linear infinite;
}

header {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  text-transform: uppercase;
  font-size: 14px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0 3s;
}

.card {
  opacity: 0;
  animation: appear 0.4s forwards;
}

#menu {
  background-color: var(--card-bg-color);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--card-color-primary);
  flex-wrap: wrap;
  text-decoration: none;
}

header .unica a {
  list-style: none;
  text-decoration: none;
}


#menu a {
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#menu a:hover {
  background-color: white;
  border-radius: 5px;
  color: #261118;
  box-shadow: 1px #202020
}

.active {
  background-color: white;
  border-radius: 5px;
  color: #261118 !important;
}

@keyframes appear {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

footer {
  align-items: center;
  color: var(--card-color-primary);
  display: flex;
  flex-direction: column;

  height: 10rem;
  justify-content: space-evenly;
  margin: 5rem 0;
}

.footer-name {
  font-size: 1.5rem;
}

.footer-social a {
  padding-inline: 2rem;
}

.fa-brands {
  color: var(--card-color-primary);
  font-size: 2.5rem;
  margin-top: 2rem;
}

@media (min-width: 1025px) {
  #cards {
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 670px) and (max-width: 1000px) {
  #app {
    max-width: 1000px;
  }
  #cards{
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    justify-content: space-evenly;
  }
}

@media (max-width: 350px) {
  header {
    margin-bottom: 23px;
    gap: 2px;
  }

  #app {
    margin: 0 auto;
    max-width: var(--largura);
    padding: 2px;
    /* margin: 0 auto; */
  }

  #cards {
    justify-content: center;
    align-items: center;
    width: 240;
    transform: scale(0.8);
    margin-right: 2px;
    margin-left: 2px;
  }

  .card ul {
    display: flex;
    padding: 15px;
  }

  .card ul li {
    width: var(--largura);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .card ul li img,
  .card ul li strong {
    transform: scale(0.8);
  }

  .footer-social {
    display: flex;
  }

  .footer-social i {
    transform: scale(0.7);
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 350px) and (max-width:800px) {
  #main{
    display: flex;
  }

  #cards{
    max-width: fit-content;
    margin: auto;
    justify-content: center;
  }
  .card{
    transform: scale(0.8);
  }
}

@media(max-width: 700px) and (min-width: 350px){
  #main{
    display: flex;
  }

  #cards{
    transform: scale(0.9); 
    max-width: fit-content; 
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card{
    transform: scale(0.9);
  }
}

@media(max-width: 350px){
  #main{
    display: flex;
  }

  #cards{
    transform: scale(0.7); 
    max-width: fit-content; 
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card{
    transform: scale(0.7);
  }
}
